* {
    padding: 0;
    margin: 0;
}

body {
   height: 120vh;
}

.winton{
    width: 20%;
    height: 20%;
}

.diimfost{
    width: 20%;
    height: 20%;
}

.bastinho{
    width: 20%;
    height: 20%;
}